MYSQL_DOCKER_NETWORK=getfy_default
DB_HOST=getfy-mysql-1
DB_PORT=3306
DB_NOME=chega_junto_concurseiro
DB_USUARIO=chega_junto_concurseiro_app
DB_SENHA=troque-por-uma-senha-longa
MESTRE_EMAIL=admin@seudominio.com
MESTRE_SENHA=troque-a-senha-inicial
AMBIENTE=producao
FUSO_HORARIO=America/Fortaleza
ORIGEM_FRONTEND=https://app.seudominio.com
RATE_GLOBAL_RPS=100
RATE_GLOBAL_BURST=500
RATE_LOGIN_RPS=10
RATE_LOGIN_BURST=50
