DB_NOME=track_concursos
DB_USUARIO=track_app
DB_SENHA=troque-por-uma-senha-longa
MYSQL_ROOT_PASSWORD=troque-por-outra-senha-longa
MESTRE_EMAIL=admin@seudominio.com
MESTRE_SENHA=troque-a-senha-inicial
AMBIENTE=producao
FUSO_HORARIO=America/Fortaleza
ORIGEM_FRONTEND=https://app.seudominio.com
RATE_GLOBAL_RPS=100
RATE_GLOBAL_BURST=500
RATE_LOGIN_RPS=10
RATE_LOGIN_BURST=50
